*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;

}
:root{
    --db-dark:#000000;
    --db-lighter:#FFFFFF;
    --db-light:#F5F5F5;
    --db-prymary:#B4D0E7;
    --db-button: #0057FF;
    --db-secondary:#5F0428;
    --db-checkbox:#E3E3E5;


}


/* #region utilities */

.container_fluid{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col_6{
    width: calc((100% / 12) * 6);
    display: flex;
}
.col_4{
    width: calc(((100% - 4rem) / 12) * 4);
    display: flex;
    
}



.flex_end{
    justify-content: flex-end;
}

.btn_head{
    background-color: var(--db-button);
    padding: 0.5rem 1rem;
    color: var(--db-lighter);
    border: var(--db-button);
}

.container_70{
    width: 70%;
    margin: auto;
}
.container_60{
    width: 60%;
    margin: auto;
}
.flex_column{
    flex-direction: column;
}

img{
    max-width: 100%;
}

.inline_block{
    display: inline-block;
}


/* .border_bottom{
    border-bottom: 2px solid var(--db-checkbox);
}

.border_right{
    border-right: 2px solid var(--db-checkbox);
} */
/* #endregion utilities */


/* #region header */

header{
   width: 100%;
   position: fixed;
   background-color: var(--db-lighter);
    z-index: 999;
}

header .row{
    padding: 1.5rem;
    }

header .col_6{
    align-items: center;
}
header .item{
    margin-right: 2.5rem;
}

/* #endregion header */

/* #region main */

main{
    padding-top: 5rem;
}
main .container_fluid{
    background-color: var(--db-prymary);
    position: relative;
}
 main h1{
    font-weight: 900;
    font-size: 60px;
    padding: 1rem 0;
 }

 main .flex_column > .item{
    margin-bottom: 2rem;
 }

 main img{
    position: absolute;
    right: 3rem;
    top:40%;
 }

 main .btn_main{
    background-color: var(--db-button);
    padding: 0.7rem 1rem;
    color: var(--db-lighter);
    border: var(--db-button);
 }

 main .container_60{
    margin-top: 17rem;
 }

main .container_60 h2{
    margin-bottom: 2.5rem;
}

 main .checkbox{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 3px solid var(--db-checkbox);
    border-radius: 50%;
    vertical-align: middle;
 }

 main .checkbox_active{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 5px solid var(--db-button);
    border-radius: 50%;
    vertical-align: middle;
 }
 #checkbox_left{
    margin-right: 4rem;
 }
 
.plane{
    
    margin-top: 2.5rem;
    column-gap: 2rem;
}

.plane .plane_for{
    padding: 1rem;
    justify-content: center;
    align-items: center;
    
}

.plane .col_4{
    border: 1px solid var(--db-checkbox);
    padding-right: 0.2rem;
}

.plane i{
    margin-right: 0.8rem;
}

.plane .flex_column .item{
    padding-left: 2rem;
}

main .plane_name{
    margin-top: 2rem;
}
main .plane_price{
    font-weight: bolder;
}
.plane .user_count{
    margin-top: 2rem;
}

.plane .included{
    color: var(--db-button);
}

.plane .plane_date{
    color: var(--db-checkbox);
}

.plane .btn_main{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.plane hr{
    width: 30%;
    margin-left: 20px;
    margin-bottom: 6rem;
    margin-top: 2rem;
}
/* #endregion main */